<div class="row">
  <div class="card">
    <div class="card-body">
      <h1>About Us</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta distinctio nemo, labore debitis corrupti harum
        necessitatibus enim velit voluptatem, officiis deleniti blanditiis reiciendis nesciunt! Tempore expedita
        blanditiis deserunt numquam quasi.</p>
    </div>
  </div>  
</div>