<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <hr class="my-4">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, repudiandae voluptatibus veritatis non laudantium
    quos atque necessitatibus illum at, soluta veniam porro, maiores fugiat expedita eligendi voluptate! Adipisci,
    necessitatibus debitis quos voluptate quo in minus recusandae, minima dolorem autem non.</p>
  <a href="http://faztweb.com" class="btn btn-primary btn-lg" target="_blank">FaztWeb</a>
</div>