<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-primary text-white">
  <div class="container">
    <div class="py-3 mx-auto">
      &copy; 2019 Copyright
      <a href="https://github.com/aliens9889" class="text-white">My repo in github</a>
    </div>
    <div>

    </div>
  </div>
</nav>